.containers {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(247, 235, 235, 0.05);
    z-index: 1;
    position: relative;
  }
  
  .form-container {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    width: 350px;
    text-align: center;
    color: black;
    backdrop-filter: blur(80px);
  }
  
  h2 {
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: bold;
    color: white;
  }
  
  .button-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    margin-top: 20px;
  }
  
  .signin-option-button {
    width: 200px;
    padding: 12px 20px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.25);
    color: rgb(42, 39, 199);
    backdrop-filter: blur(10px);
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .signin-option-button:hover {
    background-color: rgba(255, 255, 255, 0.4);
    transform: scale(1.05);
  }
  