/* src/styles/UpdateTask.css */

.update-task-container {
    padding: 20px;
    max-width:50%;
    margin: 0 auto;
    margin-top:20px;
    background-color: rgba(236, 213, 108, 0.4);
    border-radius: 0.75rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);

  }
  
  .update-task-container h2 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
    text-align: center;
  }
  
  .update-task-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 90%;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
  }
  
  .update-task-form input,
  .update-task-form textarea,
  .update-task-form select {
    padding: 0.75rem;
    border: 1px solid #d1d5db;
    border-radius: 0.5rem;
    font-size: 1rem;
    width: 100%;
    outline: none;
    transition: border-color 0.2s;
  }
  
  .update-task-form input:focus,
  .update-task-form textarea:focus,
  .update-task-form select:focus {
    border-color: #3b82f6; /* blue-500 */
  }
  
  .update-task-form button {
    padding: 0.75rem;
    background-color: #3b82f6; /* blue-500 */
    color: #ffffff;
    font-weight: 600;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  .update-task-form button:hover {
    background-color: #2563eb; /* blue-600 */
  }
  .s-button{
    width: 200px;
  }